body {background: #008080
}

h2 {
  color: #c0c0c0;
  font-size: 40px;
  font-family: monospace;
}

h3 {
  color: #c0c0c0;
  font-size: 30px;
  font-family: monospace;
}

.list {
  font-size: 25px;
}

#story {
  font-size: 25px;
}

.game {
  font-size: 20px;
}
